header {
    width: 100%;
    height: 25vw;
}
    header img {
        display: block;
        height: 100%;
        margin: 0 auto;
    }

.clubContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem auto;
    padding: 10px;
    width: 70%;
    border: 1px solid darkslategrey;
    border-radius: 3px;
    align-content: center;
}
    .clubContainer .clubLogo {
        flex: 1 0 250px;
        text-align: center;
        align-self: center;
    }
    .clubContainer .clubLogo img {
        width: 90%;
    }
    .clubContainer .clubInfo {
        flex: 1 0 250px;
    }
    .clubContainer .clubInfo h2 {
        text-align: center;
    }
    