:root {
    --white: white;
}
body {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Bebas Neue', cursive;
}

#banner {
    width: 100%;
}

section p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
